@page
@model CoffeeShop.Areas.Customer.Pages.User.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="container mt-5 mx-auto">
    <h2 class="text-black text-center mt-2">@ViewData["Title"]</h2>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    <div class="text-sm-center alert alert-danger">
        Password Rule: Length: 6-15 character. Must contain lowercase and uppercase character. Contain at least one number or special character
    </div>
    <form method="post">
        <div class="mb-3">
            <label asp-for="OldPassword" class="form-label"></label>
            <input asp-for="OldPassword" type="password" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewPass" class="form-label"></label>
            <input asp-for="NewPass" type="password" class="form-control" />
            <span asp-validation-for="NewPass" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPass" class="form-label"></label>
            <input asp-for="ConfirmPass" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPass" class="text-danger"></span>
        </div>
        <div class="mx-auto text-center mb-3">
            <button class="btn btn-primary mx-auto">Change Password</button>
        </div>        
    </form>
</div>
