@page
@model CoffeeShop.Areas.Admin.Pages.Menu.CreateItemModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductSize</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="get" id="productForm">
            <div class="form-group">
                <label class="control-label">Product Name</label>
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID" onchange="submitForm()">
                    <option value="">Select a product</option>
                </select>
            </div>
        </form>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Price</h4>
            <hr />
            <div id="prices-container">
                @{
                    if (ViewBag.SizeID != null)
                    {
                        int index = 0;
                        foreach (var size in (IEnumerable<SelectListItem>)ViewBag.SizeID)
                        {
                            <div class="form-group row align-items-center mb-3">
                                <label class="control-label col-md-2">For @size.Text</label>
                                <div class="col-md-4">
                                    <input type="hidden" name="ProductSize.SizePrices[@index].SizeID" value="@size.Value" />
                                    <input type="number" name="ProductSize.SizePrices[@index].OriginalPrice" min="0"
                                           class="form-control" placeholder="Original Price" disabled />
                                </div>
                                <div class="col-md-4">
                                    <input type="number" name="ProductSize.SizePrices[@index].Price" min="0"
                                           class="form-control" placeholder="Price" disabled />
                                </div>
                                <div class="col-md-2 text-end">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chooseCheckbox_@index"
                                               data-index="@index" onchange="toggleSizePrice(this)" />
                                        <label class="form-check-label" for="chooseCheckbox_@index">Choose</label>
                                    </div>
                                </div>
                            </div>
                            index++;
                        }
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
<script src="~/js/menu/management-menu.js" asp-append-version="true"></script>
