@page
@model CoffeeShop.Areas.Admin.Pages.User.CreateModel

@{
    ViewData["Title"] = "Create New User";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row justify-content-center">
    <div class="col-md-4 ">
        <div class="card rounded-3 shadow">
            <div class="card-header text-center">
                <h5>User Information</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="User.PhoneNumber" class="control-label"></label>
                        <input asp-for="User.PhoneNumber" class="form-control" />
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.Username" class="control-label"></label>
                        <input asp-for="User.Username" class="form-control" />
                        <span asp-validation-for="User.Username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.Password" class="control-label"></label>
                        <input asp-for="User.Password" class="form-control" />
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.FullName" class="control-label"></label>
                        <input asp-for="User.FullName" class="form-control" />
                        <span asp-validation-for="User.FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.AccountType" class="control-label"></label>
                        <input asp-for="User.AccountType" class="form-control" />
                        <span asp-validation-for="User.AccountType" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label"></label>
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3 text-center">
                        <input type="submit" value="Create" class="btn btn-outline-primary me-5" />
                        <a class="btn btn-pill btn-outline-secondary" asp-page="Index">Cancel</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
